.allMembers{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.memberItem {
    width: 200px;
    margin: 40px; 
    align-content: space-around;
}

img { 
    border-radius: 50%;
    width: 200px;
    height: 200px;
}