.allPerformances {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
    display: wrap;
}

iframe {
    width: 400px;
    margin-left: 40px; 
    margin-right: 40px;
    align-content: space-around;
}